// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Sarabun', sans-serif;
}

div.card-dialog-500 {
  width: 500px;
  margin: 0 auto;
}

div.card-dialog-350 {
  width: 350px;
  margin: 0 auto;
}

div.card-dialog-800 {
  width: 800px;
  margin: 0 auto;
}

div.card-dialog-max {
  width: 100vw;
}

div.para {
  text-indent: 15%;
  padding-top: 1em;
}

h3.q-timeline__heading-title {
  font-size: 22px !important;
  padding-bottom: 0px;
}

.highlight {
  background-color: yellow;
}